body {
  background-color: #fbfbfd;
}


.App-header {
  min-height: 50%;
  padding-bottom: 10px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/**/
.headerGarba {
  background-color: #232535;
  position: sticky;
  top: 0;
  z-index: 1020;
}
.headerGarba .navbar{
  padding: 1.4rem 1rem;
}
.sidebarGarba {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;

}
.sidebar-sticky-garba {
  position: sticky;
  top: 48px;
  height: calc(100vh - 48px);
  padding-top: 1.7rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #2b2f50;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidebar-sticky-garba  form{
  padding-left: 10px;
  padding-right: 10px;
}
/*sidebar-sticky-garba*/
.sidebar-sticky-garba .nav-garba {
  padding-left: 0;
}
.sidebar-sticky-garba .nav-garba li {
  border-left: 2px solid #2b2f50;
  list-style: none;
  padding: 13px 13px 13px 8px;
}
.sidebar-sticky-garba .nav-garba li a {
  color: #fff;
  display: block;
  text-decoration: none;
}
.sidebar-sticky-garba .nav-garba li:hover {
  border-left: 2px solid #03A9F4;
  background-color: rgb(49, 53, 88);
}



.btn-alert-submit {
  width: 100%;
  background-color: #D1030F;
  box-shadow: 0px 2px #8a180c;
  color: #fff;
  transition: all .5s;
}
.btn-alert-submit:hover {
  box-shadow: 0px 0px #8a180c;
  background: #8a180c;
}
.tableGarba {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.23);
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.23);
  margin-top: 30px;
}

.tableGarba .table thead th {
  border: 0;
  padding: 1.95rem .75rem;
}
.tableGarba .table td,
.tableGarba .table tr th{
  color: #666;
}
.infoFilter{
  padding-left: 0;
  margin-top: 23px;
}
.infoFilter li{
  list-style: none;
  display: inline-block;
  margin-right: 25px;
  font-size: 25px;
  color: #ccc;
}
.infoFilter li span {
  font-weight: 500;
  color: #666;
  margin-left: 5px;
  display: inline-block;
}